/*================================================================================
  Cliente: MX LOG
  Versão: 1.0
  Bootstrap: 4.0.0
  Criação: Many Makers
  Desenvolvedor: Ricardo Gomes
  Template: Mx Log - Criado pela equipe Many Makers
==================================================================================

/*********************************************************************************/
/* GERAL	 												                     */
/*********************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800');

html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif; 
}

/* Padrões de Botões */
.bt_padrao {
	color: #FFFFFF;
	border-radius: 0;
	font-weight: 600;
	padding: 10px 30px;
	border: solid #FFFFFF 2px;
}

.bt_padrao:hover {
	color: #003D55;
	background: #FFFFFF;
	border: solid #003D55 2px;
}

.bt_escuro {
	color: #003D55;
	border-radius: 0;
	font-weight: 600;
	padding: 10px 30px;
	background: #FFFFFF;
	border: solid #003D55 2px;
}

.bt_escuro:hover {
	color: #FFFFFF;
	background: none;
	border: solid #FFFFFF 2px;
}

.bt_escuro2 {
	color: #003D55;
	border-radius: 0;
	font-weight: 600;
	padding: 10px 30px;
	background: #FFFFFF;
	border: solid #003D55 2px;
}

.bt_escuro2:hover {
	color: #454545;
	background: none;
	border: solid #454545 2px;
}

.bt_claro {
	color: #03A1DF;
	border-radius: 0;
	font-weight: 600;
	padding: 10px 30px;
	background: #FFFFFF;
	border: solid #03A1DF 2px;
}

.bt_claro:hover {
	color: #003D55 !important;
	background: none;
	border: solid #003D55 2px;
}

/* Botão de Navegação mobile */
#bt_mobile {
	padding: 0 5px;
    color: #FFFFFF;
    border-radius: 0;
    background: #003D55;
    border: solid #003D55 2px;
}

#bt_mobile:hover {
	background: #03A1DF;
    border: solid #03A1DF 2px;
}

@media (max-width: 767.98px) {
	.mobile_h { height: auto !important; }
}

/*********************************************************************************/
/* CORES	 												                     */
/*********************************************************************************/
.bg-branco { background-color: #FFFFFF; } /* Branco */
.bg-escuro { background-color: #003D55; } /* Azul Escuro */
.bg-claro { background-color: #03A1DF; } /* Azul Claro */

.cor-escuro { color: #003D55; } /* Azul Escuro */
.cor-claro { color: #03A1DF; } /* Azul Claro */
.cor-branco { color: #FFFFFF; } /* Azul Claro */
.cor-cinza { color: #454545; } /* Cinza */

/*********************************************************************************/
/* CABEÇALHO	 												                 */
/*********************************************************************************/
#cabecalho #logo { width: 150px; }

#menu_principal li a {
	color: #003D55;
	margin: 0 15px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 800;
	line-height: 14px;
	text-transform: uppercase;
}

#menu_principal li a.active,
#menu_principal li a:hover {
	color: #15b4f2;
}

#cabecalho #box_login { width: 150px; }

#cabecalho #box_login a {
	color: #003D55;
	border-radius: 0;
	border: solid #003D55 2px;
}

#cabecalho #box_login a:hover {
	color: #FFFFFF;
	background: #15b4f2;
	border: solid #15b4f2 2px;
}

@media (max-width: 767.98px) {
	#menu_principal { margin-top: 10px; }
	#menu_principal li a { margin: 0; }

	#cabecalho #box_login { width: auto; }
	#cabecalho #box_login a { padding: 3px 5px; }
}

/*********************************************************************************/
/* BACKGROUNDS										 							 */
/*********************************************************************************/
.bg_cover {
	background-color: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

#home #voce { 
	min-height: 650px;
	background: #000 url('../images/bg_voce.jpg') top center no-repeat; 
}
#home #empresas {
	min-height: 650px;
	background: #000 url('../images/bg_empresas.jpg') top center no-repeat; 
}

#para_voce #img_lateral {  background-image: url('../images/bg_voce_form.jpg');  }
#para_empresa #img_lateral {  background-image: url('../images/bg_empresas_form.jpg');  }

#como_funciona #box_01 {  background-image: url('../images/bg_como_funciona_01.png');  }
#como_funciona #box_02 {  background-image: url('../images/bg_como_funciona_02.png');  }

#sobre #img_lateral {  background-image: url('../images/bg_sobre.png');  }

#contato #img_lateral {  background-image: url('../images/bg_voce_form.jpg');  }

#trabalhe_conosco #img_lateral {  background-image: url('../images/bg_trabalhe_conosco.png');  }

/*********************************************************************************/
/* PADRÃO CONTEÚDOS			 												     */
/*********************************************************************************/
.conteudo {
	color: #FFFFFF;
	line-height: 40px;
	padding: 100px 0;
	text-align: center;
	position: relative;
}

.conteudo i {
	font-size: 30px;
}

.conteudo .small {
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
}

.conteudo .big {
	font-size: 50px;
	font-weight: 800;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.conteudo p {
	line-height: 20px;
}

/*********************************************************************************/
/* PADRÃO CONTEÚDOS	- BOX TEXTO		 											 */
/*********************************************************************************/
.conteudo .box_texto {
	display: block;
	margin: 30px auto;
	max-width: 520px;
}

.conteudo .box_texto p {
	font-size: 14px;
	line-height: 19px;
}

.conteudo .box_texto a {
	font-weight: bold;
	text-decoration: none;
}

.conteudo .box_texto a:hover {
	color: #FFFFFF;
}

.conteudo .box_texto .chamada {
	font-size: 30px;
	line-height: 35px;
	font-weight: 800;
	text-transform: uppercase;
}

/*********************************************************************************/
/* PADRÃO FORMULÁRIOS 				 											 */
/*********************************************************************************/
.box_form {
	color: #FFFFFF;
	max-width: 80%;
	position: relative;
	margin: 100px auto 70px;
}

.box_form #chamada {
	font-size: 40px;
	font-weight: 800;
	line-height: 45px;
	text-transform: uppercase;
}

.box_form #texto_chamada {
	font-weight: 600;
}

.box_form .linha {
    z-index: 1;
    width: 100%;
    height: 2px;
	margin: 10px auto;
	background: #FFFFFF;
}

/* Padrões dos formulário */
.box_form p {
    font-size: 14px;
	font-weight: 600;
    margin-bottom: 2px;
}

.box_form label {
    font-size: 14px;
	font-weight: 600;
    margin-bottom: 2px;
}

.box_form .form-control {
    font-size: 14px;
    border-radius: 0;
    padding: 5px 10px;
}

.box_form .form-control:disabled {
	background: #adadad;
}

.box_form .form-check-label {
	cursor: pointer;
	font-weight: 400;
}

.box_form .box_perguntas .form-check {
	width: 100%;
	margin-bottom: 10px;
}

/* PADRÃO DE CORES DO AZUL CLARO */
.bg-claro .box_form h3 { color: #003D55; }
.bg-claro .box_form p,
.bg-claro .box_form label { color: #003D55; }
.bg-claro .box_form .form-control { border: solid #003D55 2px; }
.bg-claro .box_form .form-check-label { color: #FFFFFF; }

.bg-claro .box_form h3 { color: #003D55; }
.bg-claro .box_form p,
.bg-claro .box_form label { color: #003D55; }
.bg-claro .box_form .form-control { border: solid #003D55 2px; }
.bg-claro .box_form .form-check-label { color: #FFFFFF; }

/* PADRÃO DE CORES DO AZUL ESCURO */
.bg-escuro .box_form h3 { color: #03A1DF; }
.bg-escuro .box_form p,
.bg-escuro .box_form label { color: #03A1DF; }
.bg-escuro .box_form .form-control { border: solid #03A1DF 2px; }
.bg-escuro .box_form .form-check-label { color: #FFFFFF; }

.bg-escuro .box_form h3 { color: #03A1DF; }
.bg-escuro .box_form p,
.bg-escuro .box_form label { color: #03A1DF; }
.bg-escuro .box_form .form-control { border: solid #03A1DF 2px; }
.bg-escuro .box_form .form-check-label { color: #FFFFFF; }

@media (max-width: 767.98px) {
	.box_form {
		max-width: 100%;
	}

	.box_form #chamada {
		font-size: 30px;
		line-height: 35px;
	}
	.box_form p {
	    font-size: 12px;
	}
	.box_form .form-check-label {
	    font-size: 12px;
	}
}

/*********************************************************************************/
/* ETAPAS DO FORMULÁRIO			 												 */
/*********************************************************************************/
.etapas {
    margin: 20px auto;
}

.etapas .etapas_info {
    position: relative;
}

.etapas .etapas_info .linha {
    z-index: 1;
    width: 100%;
    height: 2px;
    max-width: 85%;
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 2px;
}

.etapas ul {
	border: none;
    margin-bottom: 0;
    position: relative;
}

.etapas ul li { width: 20%; }

.etapas ul li a {
    width: 40px;
    height: 40px;
    border: none;
    position: relative;
    border-radius: 100%;
}

.etapas ul li a span {
    left: 0;
    z-index: 2;
    width: 40px;
    height: 40px;
    margin: -1px;
    border: none;
	margin: -8px 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    display: inline-block;
}

.etapas ul li a.active span {
	border: none;
	margin: -8px 0;
    line-height: 35px;
 }

.etapas ul li a span:hover {
	border: none;
	margin: -8px 0;
    line-height: 35px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border: none;
	background: none;
}

.etapas .tab-pane {
	max-width: 85%;
    padding-top: 20px;
    position: relative;
}

@media( max-width: 585px) {
    .etapas {
        width: 100%;
        height: auto !important;
    }

	.etapas .tab-pane {
        max-width: 100%;
	}

	.etapas ul li a {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

	.etapas ul li a span {
        width: 30px;
        height: 30px;
        font-size: 16px;
        line-height: 30px;
    }
	.etapas ul li a.active span {
        line-height: 25px;
	}
}

/*********************************************************************************/
/* HOME 			 												             */
/*********************************************************************************/
#home .conteudo {
	top: 45%;
	padding-top: 0;
}

#bt_home {
	top: 50%;
	left: 50%;
	width: 105px;
	height: 105px;
	position: absolute;
	margin: -52px 0 0 -52px;
	background: url('../images/bt_home.png') top center no-repeat;
}

@media (max-width: 767.98px) {
	#home .conteudo { top: 35%; }
	#home .conteudo p { padding: 0 20px; }
	#home .conteudo p br { display: none; }
}

/*********************************************************************************/
/* PRA VOCÊ - RESUMO DO PEDIDO						 							 */
/*********************************************************************************/
#box_resumo {
	margin: 20px 0;
	padding: 0 15px;
}

#box_resumo .item {
	padding: 10px 0;
	background: #FFFFFF;
	border-bottom: 1px solid #C0C0C0;
}

#box_resumo .item:last-child {
	border-bottom: none;
}

#box_resumo .item.tempo {
	border: none;
	color: #FFFFFF;
	font-weight: 700;
	margin-top: 20px;
	background: #03A1DF;
}

#box_resumo .item.total {
	border: none;
	padding: 5px 0;
	font-weight: 700;
	color: #003D55;
	background: #03A1DF;
}

#box_resumo .item .ref {
	padding: 3px 8px;
	color: #FFFFFF;
	font-size: 12px;
	background: #A0A0A0;
}

#box_resumo .item .info {
	font-size: 12px;
}

#box_resumo .item .info a {
	color: #03A1DF;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
}

#box_resumo .item .links {
	font-size: 17px;
	text-align: right;
}

#box_resumo .item .links a {
	margin: 0 5px;
}

#box_resumo .item .links a.editar  { color: #003D55; }
#box_resumo .item .links a.excluir { color: #CF3532; }
#box_resumo .item .links a:hover   { color: #A0A0A0; }

/*********************************************************************************/
/* CORES E AJUSTES DIFERENTES PARA OS FORMULÁRIOS						 		 */
/*********************************************************************************/
#box_sem_complemento { padding-top: 35px; }
@media( max-width: 585px) {
	#box_sem_complemento { padding-top: 0; margin-bottom: 20px; }
}

/* SE O FORMULÁRIO FOR AZUL CLARO */
.bg-claro .etapas .etapas_info .linha { 
	background: #e0e0e0; 
}

.bg-claro .etapas ul li a { 
	color: #454545; 
}

.bg-claro .etapas ul li a span { 
	color: #FFFFFF; 
	background: #454545; 
}

.bg-claro .etapas ul li a.active span { 
	color: #003D55;
    background: #FFFFFF;
    border: 2px solid #003D55;
}

.bg-claro .etapas ul li a.disabled span {
	color: #FFFFFF;
	background: #003D55;
}

.bg-claro .etapas ul li a span:hover {
    color: #003D55;
    background: #FFFFFF;
    border: 2px solid #003D55;
}


/* SE O FORMULÁRIO FOR AZUL ESCURO */
.bg-escuro .etapas .etapas_info .linha { 
	background: #e0e0e0; 
}

.bg-escuro .etapas ul li a { 
	color: #454545; 
}

.bg-escuro .etapas ul li a span { 
	color: #FFFFFF; 
	background: #454545; 
}

.bg-escuro .etapas ul li a.active span { 
	color: #003D55;
    background: #FFFFFF;
    border: 2px solid #03A1DF;
}

.bg-escuro .etapas ul li a.disabled span {
	color: #FFFFFF;
	background: #03A1DF;
}

.bg-escuro .etapas ul li a span:hover {
    color: #03A1DF;
    background: #FFFFFF;
    border: 2px solid #03A1DF;
}

/*********************************************************************************/
/* COMO FUNCIONA									 							 */
/*********************************************************************************/
#como_funciona #box_servicos {
	display: block;
}

#como_funciona #box_servicos .item_servico {
	width: 27%;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 18px;
	text-align: center;
	vertical-align: top;
	display: inline-block;
	margin: 10px 10px 20px;
}

#como_funciona #box_servicos .item_servico i {
	width: 65px;
	height: 65px;
	display: block;
	color: #003D55;
	line-height: 65px;
	border-radius: 50%;
	margin: 0 auto 10px;
	background: #FFFFFF;
}

#como_funciona #box_servicos .item_servico span {
	text-align: center;
	text-transform: uppercase;
}

#como_funciona #box_servicos .item_servico:hover i {
	color: #FFFFFF;
	background: #03A1DF;
}

#como_funciona #box_servicos .item_servico:hover span {
	color: #03A1DF;
}

@media( max-width: 585px) {
	#como_funciona #box_servicos .item_servico {
		width: 35%;
	}
}

#como_funciona #cf_slider .carousel-caption {
	left: auto;
	right: auto;
	font-size: 12px;
	color: #003D55;
	margin-top: 10px;
	position: relative;
	font-style: italic;
}

#como_funciona #cf_slider .carousel-indicators li {
	width: 12px;
	height: 12px;
	cursor: pointer;
	background: none;
	border-radius: 50%;
	border: solid #003D55 2px;
}

#como_funciona #cf_slider .carousel-indicators li:hover {
	border: solid #FFFFFF 2px;
}

#como_funciona #cf_slider .carousel-indicators li.active {
	background: #003D55;
	border: solid #FFFFFF 2px;
}

/*********************************************************************************/
/* CONTATO - RD STATION			 												 */
/*********************************************************************************/
#formulario_contato #form-container-mx-log-contato-site-d0c3f647b1c07acb84f7 #conversion-mx-log-contato-site-d0c3f647b1c07acb84f7 section {
	padding: 0 !important;
}

/*********************************************************************************/
/* TRABALHE CONOSCO - FORMUlÁRIO PRÓPRIO 			 							 */
/*********************************************************************************/
#formulario_trabalhe form {
	color: #454545;
}

#formulario_trabalhe form .form-group {
	margin-bottom: 0;
}

#formulario_trabalhe form .form-group label {
	margin-bottom: 0;
}

#formulario_trabalhe form .form-group .form-control {
	padding: 5px 10px;
	border-radius: 0;
	border: solid #757575 2px;
}

#formulario_trabalhe form .form-group .custom-file-input {
	margin: 15px 0;
}

#formulario_trabalhe form .form-group .custom-file-label {
	margin: 15px 0;
	cursor: pointer;
	border-radius: 0;
	overflow: hidden;
	padding: 5px 10px;
	border: solid #757575 2px;
}

#formulario_trabalhe form .form-group .custom-select {
	margin: 15px 0;
	cursor: pointer;
	border-radius: 0;
	padding: 5px 10px;
	border: solid #757575 2px;
}



/*********************************************************************************/
/* RODAPÉ 			 												             */
/*********************************************************************************/
#rodape {
	clear: both;
	color: #FFFFFF;
	font-weight: 400;
	background: #454545;
}

#rodape .alg_direita {
	text-align: right;
}

#rodape p {
	margin-bottom: 5px;
}

#rodape span {
	width: 100%;
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
	text-transform: uppercase;
}

#rodape .menu a {
	padding: 0;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: 400;
	display: inline-block;
}

#rodape .menu a:hover {
	color: #15b4f2;
	font-weight: 600;
}

#rodape .menu a.active {
	cursor: default;
	color: #15b4f2;
	font-weight: 600;
}

#rodape .menu_icones li {
	font-size: 16px;
	margin-top: -30px;
	display: inline-block;
}

#rodape .menu_icones li a {
	color: #FFFFFF;
	font-size: 30px;
	padding: 0 20px 0 0;
}

#rodape .menu_icones li a:hover {
	color: #15b4f2;
}

/* ENDEREÇO & TELEFONE */
#rodape #endereco {
	font-size: 14px;
	border-top: solid #FFFFFF 1px;
}

/* DIREITOS */
#rodape #direitos {
	color: #CCCCCC;
	font-size: 10px;
}

#rodape #direitos a { color: #FFFFFF; text-decoration: none; }
#rodape #direitos a:hover { color: #15b4f2; }

@media (max-width: 767.98px) {
	#rodape .alg_direita { text-align: center; margin-left: -10px; }
	#rodape .menu { text-align: center; margin-bottom: 30px; }
	#rodape .menu_icones { text-align: center; margin-bottom: 30px; }
	#rodape .menu_icones li { margin: 0 0 0 35px; }
	#rodape .menu_icones li a { padding: 0; }

	#rodape #endereco { text-align: center; }

	#rodape #direitos { text-align: center; margin-top: 20px; }
}